%header

%ul.navbar
  %li.navbaritem
    %a.navLink{:href => "/"} Home
  %li.navbaritem
    %a.navLink{:href => "/matches"} Matches
  %li.navbaritem
    %a.navLink{:href => "/contact"} Contact
  %li.navbaritem
    %a.navLink{:href => "/players"} About