%header

%ul.navbar
  %li.navbaritem
    %a.navLink{:href => "/"} Home
  %li.navbaritem
    %a.navLink{:href => "/matches"} Matches
  %li.navbaritem
    %a.navLink{:href => "/players"} Players
  %li.navbaritem
    %a.navLink{:href => "/teams"} Teams
  %li.navbaritem
    %a.navLink{:href => "/contact"} Contact