/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html{
	height: 100%;
}

body{
	background-color: #1e2222;


	// height: 100%;
	// margin: 0;
	// background-repeat: no-repeat;
	// background-attachment: fixed;
	// background: #494949;
	// background: -webkit-linear-gradient(45deg, #191919 , #f79000); 
	// background: linear-gradient(-135deg, #191919 , #f79000);
	        
}

// general CSS for the input forms
.form-wrapper{
	display: block;
	width: 40%;
	float: center;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(78, 79, 81, 1);
	text-align: center;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #d1670e;
	text-color: #ffffff;
	margin-top: 30px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	a{
		color: #d1670e;
		&:hover{
			color:  #d1670e;
		}
	}
}

input[type=text], select, input[type=number]{
	display: inline-block;
	border-radius: 3px;
	width: 20%;
}

.form-label{
	color: white;
	display: block;
}



input[type=submit]{
	background-color: #d1670e;
	border-radius: 3px;
	border: none;
	margin-top: 10px;
	margin-bottom: 10px;
	&:hover{
		color: white;
	}
}

.form-title{
	color: white;
}