
ul.navbar {
	list-style-type: none;
	text-align: center;
	height: 30px;
	margin: 0;
	padding: 0;
	background-color: #333;
	overflow: hidden;
	border-radius: 0px !important; //bootstrap was cuasing rounded edges where I didnt want them
	border-style: solid;
	border-top: none;
	border-right: none;
	border-left: none;
	border-color: #d1670e;

}
li.navbaritem{
	display: inline-block;
}

a.navLink{
	padding-top: 11px;
	padding-bottom: 11px;
	display: inline-block;
	border-radius: 3px;
	color: #d1670e;
	text-align: center;
	&:hover{
		text-decoration: none;
		background-color: #d1670e;
		color: #000000;
	} 
}



