// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: rgba(78, 79, 81, 1);
$text-color: #ffffff;
$accent-color: #d1670e;

.column-left {
	float: left;
	text-align: center;
	width: 32%;
	background-color: $primary-color;
	border-radius: 5px;
	margin-right: 1%;
	border-width: 1px;
	border-style: solid;
	border-color: $accent-color;
	text-color: $text-color;
	margin-top: 30px;
	padding-bottom: 10px;
}

.column-center{
	display: inline-block;
	text-align: center;
	width: 32%;
	background-color: $primary-color;
	border-radius: 5px;
	margin-right: 1%;
	margin-left: 1%;
	border-width: 1px;
	border-style: solid;
	border-color: $accent-color;
	text-color: $text-color;
	margin-top: 30px;
	padding-bottom: 10px;
}

.column-right{
	float: right;
	text-align: center;
	width: 32%;
	background-color: $primary-color;
	border-radius: 5px;
	margin-left: 1%; 
	border-width: 1px;
	border-style: solid;
	border-color: $accent-color;
	text-color: $text-color;
	margin-top: 30px;
	padding-bottom: 10px;
}

.column-left .matches td.matchData {
	text-align: center;
	
	width: 10%;
}

.matches, .teams, .players {
	color: $text-color;
	
}

.column-center .teams td.teamData{
	text-align: center;
	width: 10%;
}


.column-right .players td.playerData{
	text-align: center;
	width: 10%;
}

.links a, .matchData a, .teamData a, .playerData a {
	color: $accent-color;
	&:hover{
		color:  $accent-color;
	}
}
