// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: rgba(78, 79, 81, 1);
$text-color: #ffffff;
$accent-color: #d1670e;
$border: #000000;

.column-center-match{
	display: block;
	width: 40%;
	float: center;
	margin-left: auto;
	margin-right: auto;
	background-color: $primary-color;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: $accent-color;
	text-color: $text-color;
	margin-top: 30px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	a{
		color: $accent-color;
		&:hover{
			color:  $accent-color;
		}
	}
}

.column-center-match .matches td.matchData {
	text-align: center;
	font-size: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 10%;
	border-width: 1px;
	border-style: solid;
	border-top: none;
	border-right: none;
	border-left: none;
	border-color: $border;
	
}

.column-center-match .matches th.matchInfo {
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-top: none;
	border-right: none;
	border-left: none;
	border-color: $border;
	width: 10%;
	padding-top: 6px;
	padding-bottom: 6px;
}

.matches {
	color: $text-color;
	text-align: center;
}

.links a, .matchData a {
	color: $accent-color;
	&:hover{
		color:  $accent-color;
	}
}

.matchTitle {
	color: $text-color;
	text-align: center;
}

.column-center-match th.match-teams-header{
	font-size: 20px;
	padding-top: 13px;
	color: $text-color;
	vertical-align: middle;
	text-align: center;
	width: 10%;
}

.column-center-match td.match-score-header{
	font-size: 15px;
	color: $text-color;
	vertical-align: middle;
	text-align: center;
	width: 10%;
}

p.matchInfo{
	color: $text-color;
	font-size: 12px;
	padding-top: 8px;

}

h4.match-team-head{
	color: $text-color;
	font-size: 20px;
	padding-top: 8px;
}

p.match-team-player-info{
	color: $text-color;
	font-size: 12px;
}

